<beans:beans xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:security="http://www.springframework.org/schema/security"
             xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
    http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-4.1.xsd">

    <!-- Rest authentication entry point configuration -->
    <security:http use-expressions="true" entry-point-ref="restAuthenticationEntryPoint">
        <security:intercept-url pattern="/login" method="POST" access="permitAll()"/>
        <security:intercept-url pattern="/logout" method="POST" access="permitAll()"/>
        <security:intercept-url pattern="/rest/user" method="POST" access="permitAll()"/>
        <security:intercept-url pattern="/rest/user" method="GET" access="permitAll()"/>
        <security:intercept-url pattern="/rest/**" method="DELETE" access="isAuthenticated()"/>
        <security:intercept-url pattern="/rest/**" method="GET" access="isAuthenticated()"/>
        <security:intercept-url pattern="/rest/**" method="POST" access="isAuthenticated()"/>
        <security:intercept-url pattern="/rest/**" method="PUT" access="isAuthenticated()"/>

        <security:form-login authentication-success-handler-ref="mySuccessHandler"
                             authentication-failure-handler-ref="myFailureHandler"/>

        <security:logout delete-cookies="JSESSIONID"/>
        <security:csrf disabled="true" />
    </security:http>

    <beans:bean id="restAuthenticationEntryPoint" class="pl.edu.agh.tai.security.RestAuthenticationEntryPoint"/>

    <!-- Connect the custom authentication success handler -->
    <beans:bean id="mySuccessHandler"
                class=" pl.edu.agh.tai.security.RestAuthenticationSuccessHandler"/>
    <!-- Using default failure handler -->
    <beans:bean id="myFailureHandler"
                class="org.springframework.security.web.authentication.SimpleUrlAuthenticationFailureHandler"/>

    <security:authentication-manager id="authenticationManager">
        <security:authentication-provider user-service-ref="userDetailsService"/>
    </security:authentication-manager>

    <beans:bean id="userDetailsService" class="pl.edu.agh.tai.security.MongoUserDetailsService"/>
</beans:beans>